body{
    font-family: "Funnel Display", serif;
    /* text-align: center; */
}


#map-container{
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: 20px;
    display: flex;
    justify-content: center;   /*to make sure the art and title is in middle*/
    align-items: center;
    border-radius: 25px;
}
#artwork-text{
    text-align: left;
    z-index: 1;
}

#search-filters{
    flex: auto;
}

#favorites-container{
    width: 80%;
    height: 200px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 25px;
}

#header{
    margin: 50px;
    text-align: center;
}

#footer{
    margin: 50px;
    margin-top: 200px;
    text-align: center;
}

#favorite-button{
    height: 30px;
}

#search-filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

